@import "tailwindcss";

@theme inline {
  --color-quant-bg: #111827;
  --color-quant-blue: #3B82F6;
  --color-quant-light: #5FA8D3;
  --color-quant-text: #F3F4F6;
  --color-quant-card: #1f2937;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-quant-bg);
  color: var(--color-quant-text);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
